---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Lista de profes csr">
    <h1>lorem</h1>
    <ul id="lista-profesores">
        
    </ul>
</MainLayout>
    
<script>
    const response = await fetch('http://localhost:3000/profesores')
    const profesores = await response.json()
    const $ul = document.getElementById('lista-profesores')
    $ul.textContent = ''
    profesores.forEach(profesor => {
        const $li = document.createElement('li')
        $li.textContent = profesor.nombre
        $ul.appendChild($li)
    })
        
    
</script>