<nav>
    <a href="/"> home </a>
    <a href="/hola"> hola </a>
    <a href="/teachers"> teachers </a>
    <a href="/tecnologies"> tecnologías </a>
    <a href="/profesoresSSG"> Lista profesores SSG </a>
    <a href="/profesoresCSR"> Lista profesores CSR </a>
</nav>

<style>
    nav{
        display:flex;
        gap:5px;
    }
    nav a{
        text-decoration: none;
        transition: all 1s;
    }
    nav a:hover{
        color: blue;
    }
</style>